:root {
  --loader-color: var(--pui-color-primary);
}

/* SEARCH LOADER */
.loader--search {
  --loader-search-color: var(--loader-color);

  width: 48px;
  height: 48px;
  display: block;
  margin: 12px auto;
  position: relative;
  border: 6px solid var(--loader-search-color);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.loader--search::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: var(--loader-search-color);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -21px;
  left: 43px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}

/* NORMAL LOADER */
.loader--normal {
  --loader-normal-color: var(--loader-color);

  width: 48px;
  height: 48px;
  border: 3px dotted var(--loader-normal-color);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader--normal__in {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--loader-normal-color);
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
  opacity: 0.8;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* SIMPLE LOADER */
.loader--simple {
  width: 32px;
  height: 32px;
  border: 5px solid var(--loader-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
